<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="small-box bg-info">
      <div class="inner">
        <h3>150</h3>

        <p>Notificaciones hoy</p>
      </div>
      <div class="icon">
        <i class="ion ion-stats-bars"></i>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-md-12">
    <div class="small-box bg-success">
      <div class="inner">
        <h3>53<sup style="font-size: 20px"></sup></h3>
        <p>Notificaciones semana</p>
      </div>
      <div class="icon">
        <i class="ion ion-stats-bars"></i>
      </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-lg-12 col-md-12">
    <div class="small-box bg-warning">
      <div class="inner">
        <h3>44</h3>
        <p>Notificaciones mes</p>
      </div>
      <div class="icon">
        <i class="ion ion-stats-bars"></i>
      </div>
      
    </div>
  </div>
  <div class="col-lg-12 col-md-12">
    <div class="small-box bg-danger">
      <div class="inner">
        <h3>65</h3>
        <p>Notificaciones semestre</p>
      </div>
      <div class="icon">
        <i class="ion ion-stats-bars"></i>
      </div>
    </div>
  </div>
</div>
