<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"></script>
  <script>
    $(document).ready( function () {
      $('#table_id').DataTable(
        {
         "language":{
            "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
          }
        }
      );
         
    });
</script>

<footer class="main-footer">
  <strong>Copyright &copy; <?php echo "2022 - ".date('Y') ?> <a href="https://www.uts.edu.co/sitio/" target="_blank">UTS</a>.</strong>
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> <?php echo envInfo::currentVersion(); ?>
  </div>
</footer>